<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - Hyperportal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://widget.mayersoftwaredevelopment.nl/kvk-identity-qr.js"></script>
    <script src="/script"></script>

    <script>
        function start() {
            var $widget = document.getElementsByClassName('kvk-identity-qr')[0];
            $widget.onAgree = function(sessionKey) {
                $.post('/getData', {sessionKey: sessionKey}, function(data) {
                    // console.log(data);
                    submit(data);
                }, "text");
            };
            $widget.onReject = function() {
                console.log('User rejected');
            };
            $widget.onError = function(error) {
                console.log('error: ', error)
            }
        }
    </script>
</head>

<body onload="start()">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hyperportal</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Register</a></li>
                <li><a href="/submit">Submit message</a></li>
                <li><a href="/statusHistory">View status history</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Hyperportal - Register</h1>
        <h2>
            <span th:text="'You need to have an identity on the system to post messages to Hyperpoort Portal. Do you want to register?'"></span>
        </h2>
        <div class="kvk-identity-qr" data-questionid="5ac7567380e8f5210f92f190" data-label="Register with KvK app"></div>
    </div>

</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>