
h4 {
    display: block;
    width: 33.3%;
    line-height: 40px;
    margin-left: 390px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: #515151;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625rem;
    font-family: Trebuchet MS, Arial, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;

}

.videohyperportal {
    margin-left: 390px;
    margin-top: 10px;
}

.intro-text {
    margin: 0px 950px 0px 550px;
    font-size: 18px;
    font-weight: 400;
    font-family: Trebuchet MS;
    color: #002964;
    background-color: #fff;
}

.buttons {
    margin-left: 390px;
    margin-top: 10px;
    background-color: #fc3;
    border: .0625rem solid #fc3;
    border-radius: .3125rem;
    color: #002964;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    border-radius: .3125rem;
    padding-bottom: 50px;

    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.125rem;
    line-height: 2.5em;

    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .1875rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;

    transition: background-color .15s ease-out, border-color .15s ease-out, color .15s ease-out;
    white-space: nowrap;
}

#navigate {
    color: #002964;
}

#inleiding {
    font-size: 18px;
    font-weight: 400;
    font-family: Trebuchet MS;
    color: #002964;
    background-color: #fff;
}

#tabhome {
    font-family: Trebuchet MS;
    color: #002964;
    font-size: 18px;
    background-color: #fff;
}

#tabregister {
    font-family: Trebuchet MS;
    color: #002964;
    font-size: 18px;
    background-color: #fff;
}

#tabsubmit {
    font-family: Trebuchet MS;
    color: #002964;
    font-size: 18px;
}

#tabstatus {
    font-family: Trebuchet MS;
    color: #002964;
    font-size: 18px;
}

li:hover {
    border-bottom: 2px solid #000355
}

#divnavbar {
    background-color: #fff;

}

#navbarinverse {
    background-color: #fff;

}

#titel {
    font-size: 18px;
    font-weight: 400;
    font-family: Trebuchet MS;
    color: #002964;
    background-color: #fff;

}

